{% extends "layout.html" %}

{% block main %}

<main id="app-main" class="app-main">
    <div class="wrap">
    <section class="app-content">
      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">每日行驶里程分布</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <div class="row placeholders">
                  <!--展示区-->
                  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                  
                  <div  style="height:400px;" id="mile_f1"></div>
                  <script src="../static/js/figure_default/p2_mile.js"></script>

                  <div  style="height:400px;" id="mile_f2"></div>
                  <script src="../static/js/figure_default/p2_mile.js"></script>

                  
                </div>
              </div><!-- .widget-body -->
            </div><!-- .widget -->
        </div><!-- END column -->
      </div><!-- END row -->

      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">估算全电里程</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <div class="row placeholders">
                  <div  style="height:400px;" id="mile_f3"></div>
                  <script src="../static/js/figure_default/p2_mile.js"></script>
              

                  <!--展示区-->
                  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                  <!--<div  style="height:400px;" id="mile_con"></div>
                    
                  <div  style="height:400px;" id="mile_con"></div>

                  <script type="text/javascript" >
                  var myChart = echarts.init(document.getElementById('mile_con'),'macarons');

                  var option = {
                          title:{ text: 'Lavida不同地理位置估算全电里程',
                                  padding:[-20, -20,  100, 100],
                                  },
                          tooltip: {trigger: 'axis',
                                    axisPointer: {type: 'cross',crossStyle: {color: '#999'}}},
                          toolbox: {feature: {dataView: {show: true, readOnly: false},
                                              magicType: {show: true, type: ['line', 'bar']},
                                              restore: {show: true},
                                              saveAsImage: {show: true}}},
                          legend: {data: {{columns|safe}}},
                          xAxis: [{type: 'category',
                                  data: {{index}},
                                  axisPointer: { type: 'shadow'}
                                  }],
                          yAxis: [{type: 'value',name: '占比',min: 0,max: {{data_max}},
                                  interval: 0.02,axisLabel: {formatter: '{value} %'}}
                                  ],
                          series: {{data|safe}}
                              };
                  myChart.setOption(option);
                </script>
-->


              
                </div>
              </div><!-- .widget-body -->
            </div><!-- .widget -->
        </div><!-- END column -->
      </div><!-- END row -->

      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">估算能耗</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <div class="row placeholders">
                  <!--展示区-->
                  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                  <div  style="height:400px;" id="mile_f4"></div>
                  <script src="../static/js/figure_default/p2_mile.js"></script>

                </div>
              </div><!-- .widget-body -->
            </div><!-- .widget -->
        </div><!-- END column -->
      </div><!-- END row -->

      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">每次充电之间里程</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <div class="row placeholders">
                  <!--展示区-->
                  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                  <div  style="height:400px;" id="mile_f5"></div>
                  <script src="../static/js/figure_default/p2_mile.js"></script>

                </div>
              </div><!-- .widget-body -->
            </div><!-- .widget -->
        </div><!-- END column -->
      </div><!-- END row -->


    </div>

</main>

{% endblock %}