{% extends "layout.html" %}

{% block main %}
<!--右边展示-->

<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
  <div class="wrap">
  <section class="app-content">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="widget p-md clearfix">
          <div class="pull-left">
            <h3 class="widget-title">SVW新能源车运行大数据概览</h3>
            <small class="text-color">Number of views</small>
          </div>
          <span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">102</span>
        </div><!-- .widget -->
      </div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">基于RTM数据的用户工况对比</h1>

  <div class="row placeholders">
        <!--展示区-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;" id="main">

    </div>

  </div>
</div>
{% endblock %}