
{% extends "layout.html" %}

{% block main %}

<main id="app-main" class="app-main">
    <div class="wrap">
    <section class="app-content">
      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">电池工作电分布——充电</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <div  style="height:400px;" id="battery_f1"></div>
                <script src="../static/js/figure_default/p4_battery.js"></script>

                <div  style="height:400px;" id="battery_f2"></div>
                <script src="../static/js/figure_default/p4_battery.js"></script>


                
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
  </div><!-- END row -->




</div>

</main>

{% endblock %}