{% extends "layout.html" %}

{% block main %}

<main id="app-main" class="app-main">
    <div class="wrap">
    <section class="app-content">
      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">充电情况概览</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">


                
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
  </div><!-- END row -->




</div>

</main>

{% endblock %}