{% extends "layout.html" %}

{% block main %}

<main id="app-main" class="app-main">
    <div class="wrap">
    <section class="app-content">
      <div class="row">
        <div class="col-md-12">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">充电功率</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <form action='/hist_default' method="POST"> 
                    车型：
                    <select name='brand'>
                        <option value="朗逸">朗逸</option>
                        <option value="途观">途观</option>
                        <option value="帕萨特">帕萨特</option>
                    </select>
                    开始时间：
                    <input type='date' name='start_date' value="2019-01-01"/>
                    结束时间：
                    <input type='date' name='end_date' value="2020-11-20"/>
                    <button type='submit'>查询</button>
                </form>
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
  </div><!-- END row -->




</div>

</main>


{% endblock %}