{% extends "layout.html" %}
<!-- Question1 点击查询后，选择框选项停留在上一此选择而不是恢复默认值 -->
<!-- Question1 先粗选后细选的层级式选择框-->
{% block main %}

<main id="app-main" class="app-main">
    <div class="wrap">
    <section class="app-content">
      <div class="row">
        <div class="col-md-8">
            <div class=widget>
              <header class="widget-header">
                <h4 class="widget-title">自定义查询</h4>
              </header>
              <hr class="widget-separator">
              <div class="widget-body">
                <form action='/hist_default' method="POST">
                    车型：
                    <select name='project' style="width:300px">
                        {% for index in project_list.keys(): %}
                        {% if index == data_input['project']: %}
                        <option value="{{ index }}" selected="selected">{{ project_list[index]}}</option>
                        {% else: %}
                        <option value="{{ index }}">{{ project_list[index]}}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    开始时间：
                    <input type='date' name='start_date' value="2020-01-01" style="width:200px;"/>
                    结束时间：
                    <input type='date' name='end_date' value="2020-11-20" style="width:200px"/>
                    <br>
                    <br>
                    用户类型：
                    <select name='user_type' style="width:300px">
                        {% for index in user_type_list.keys(): %}
                        {% if index == data_input['user_type']: %}
                        <option value="{{ index }}" selected="selected">{{ user_type_list[index]}}</option>
                        {% else: %}
                        <option value="{{ index }}">{{ user_type_list[index]}}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                    <!-- &emsp;&emsp;&emsp;&emsp;-->
                    <br>
                    <br>
                    地理位置：
                    <select name='region' style="width:300px">
                      <option value='all'>全国</option>
                      <option value="MidEast">华东</option>
                      <option value="MidNorth">华北</option>
                      <option value="Mid">华中</option>
                      <option value="Taxi">华南</option>
                      <option value="NorthEast">东北</option>
                      <option value="NorthWest">西北</option>
                      <option value="SouthWest">西南</option>                      
                    </select>
                    <br>
                    <br>
                    车辆里程范围：<input type="text" name="start_mile" style="width:60px;"> km ~ <input type="text" name="end_mile" style="width:60px;"> km
                    <br>
                    <br>
                    统计特性：
                    <select name='fc_name'>
                      <option value="fc11">每日行驶里程</option>
                      <option value="fc12">每次充电间隔行驶里程</option>
                      <option value="fc13">折算里程</option>
                      <option value="fc14">折算能耗</option>
                      <option value="fc21">车速分布</option>
                      <option value="fc22">驾驶模式分布</option>
                      <option value="fc23">不同驾驶模式下的车速分布</option>
                      <option value="fc24">加速踏板分布</option>
                      <option value="fc25">制动踏板分布</option>
                      <option value="fc31">电机温度分布</option>
                      <option value="fc32">LE温度分布</option>
                      <option value="fc33">电机工作点分布</option>
                      <option value="fc34">电机输出功率分布</option>
                      <option value="fc35">电机回馈功率分布</option>
                      <option value="fc36">电机输出效率分布</option>
                      <option value="fc37">电机回馈效率分布</option>
                      <option value="fc41">电池放电工作点分布</option>
                      <option value="fc42">电池充电工作点分布</option>
                      <option value="fc43">电池放电功率分布</option>
                      <option value="fc44">电池充电功率分布</option>
                      <option value="fc45">附件消耗功率分布</option>
                      <option value="fc51">绝缘阻值大小分布</option>
                      <option value="fc61">报警频次</option>
                      <option value="fc62">报警涉及车辆数</option>
                      <option value="fc71">充电开始时刻分布</option>
                      <option value="fc72">充电时长分布</option>
                      <option value="fc82">充电开始SOC以及结束SOC分布</option>
                      <option value="fc93">充电时间</option>
                    </select>
                    <!-- &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-->
                    <button type='submit'> 查询 </button>
                    <br>
                    <br>
                </form>
                {% if data_input['is_null']== False: %}
                <div class="table-responsive">
                  <table class="table table-striped" cellspacing="0" width="50%">
                    <thead>
                        </tr>
                          {% for c in col: %}
                            <th>{{c}}</th>
                          {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                      {% for indexs in hist_result.index: %}
                        <tr>
                          {% for i in x: %}
                          <td>{{hist_result.loc[indexs].values[i]}}</td>
                          {%endfor%}
                        </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                {% endif %}
            </div><!-- .widget-body -->
        </div><!-- .widget -->
    </div><!-- END column -->
  </div><!-- END row -->

<!--<div id='num' value="{{data_input['is_null'] }}"></div> -->


</div>
</main>
<script type="text/javascript" >
var isnum = "{{data_input['is_null']|safe}}";
var data_in = "{{data_input|safe}}";
var num = "{{n|safe}}";

if (isnum == "True"){
  alert('没有找到车辆');
}
else
{
  alert('查询到'+num.toString()+ "辆车");
}
console.info(num);
console.info(data_in);

console.log('logloglog');
</script>


{% endblock %}